@charset "utf-8";
/* CSS Document */

.sum{
	width: 800px; height: 800px; margin: auto;
}
button{
	margin-left: 60px; width: 70px; cursor: pointer;
}
button:hover{
	color: aqua; 
}
#move1{
	visibility: hidden;
}
