:root {
  --color: #0070f3;
  --blue: #0070f3;
  --green: #10b981;
  --violet: #8b5cf6;
  --yellow: #fbbf24;
  --red: #e11d48;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html:focus,
body:focus {
  outline: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type="radio"] {
  appearance: none;
  width: 15px;
  margin: 0;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;

  content: "";
  display: inline-block;
  transition: 0.1s;
  opacity: 80%;
}

input[type="radio"].blue:after {
  background-color: var(--blue);
  box-shadow: 0px 3px 10px var(--blue);
}
input[type="radio"].green:after {
  background-color: var(--green);
  box-shadow: 0px 3px 10px var(--green);
}

input[type="radio"].violet:after {
  background-color: var(--violet);
  box-shadow: 0px 3px 10px var(--violet);
}

input[type="radio"].yellow:after {
  background-color: var(--yellow);
  box-shadow: 0px 3px 10px var(--yellow);
}

input[type="radio"].red:after {
  background-color: var(--red);
  box-shadow: 0px 3px 10px var(--red);
}

/* checked */
input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  top: -4px;
  left: -2px;
  position: relative;
  background-color: var(--color);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2.5px solid white;
  opacity: 100%;
  box-shadow: 0px 5px 20px -3px var(--color);
}

input[type="radio"].blue:checked:after {
  background-color: var(--blue);
  box-shadow: 0 0 0 2px var(--blue);
}

input[type="radio"].green:checked:after {
  background-color: var(--green);
  box-shadow: 0 0 0 2px var(--green);
}

input[type="radio"].violet:checked:after {
  background-color: var(--violet);
  box-shadow: 0 0 0 2px var(--violet);
}

input[type="radio"].yellow:checked:after {
  background-color: var(--yellow);
  box-shadow: 0 0 0 2px var(--yellow);
}

input[type="radio"].red:checked:after {
  background-color: var(--red);
  box-shadow: 0 0 0 2px var(--red);
}

.hidden_it {
  animation: cssAnimation 0s 10s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}